<%- include("partials/header.ejs") %><!-- Include header  -->
<h2>Jobs List</h2>
<!-- Button to add a new job -->
<a href="/jobs/new">
  <button type="button">Add New Job</button>
</a>

    <table id="jobs-table">
      <tr id="jobs-table-header">
        <th>Company</th>
        <th>Position</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th colspan="2"></th>
      </tr>
      <% if (jobs && jobs.length) { %>
        <% jobs.forEach((job) => { %>
          <tr>
            <td><%= job.company %></td>
            <td><%= job.position %></td>
            <td><%= job.status %></td>
            <td><!-- Edit Button -->
              <a href="/jobs/edit/<%= job.id %>">
                <button type="button">edit</button>
              </a>
            </td>
            <td><!-- Delete button -->
              <form method="POST" action="/jobs/delete/<%= job.id %>" style="display: inline">
                <button type="submit">delete</button>
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/><!-- CSRF protection  -->
              </form>
            </td>
          </tr>
          <% }) %>
          <% } else { %>
            <tr>
              <td colspan="5">No job listings found.</td>
            </tr>
        <% } %>
    </table>
    <%- include("partials/footer.ejs") %> <!--Include footer -->